{% extends 'base.html' %}
{% block conteudo %}
     <h1>Jarvis - Detecção de Faces</h1>
     <form method="post">
        {% csrf_token %}
         <div class="form-group">
            <label>Por favor - Selecione o Arquivo a ser analisado: </label>
            <div class="form-group">
                {{ form_detect_face.arq }}
            </div>
        </div>
        <div class="form-group">
           <input type="submit" value="Detectar">
        </div>

     </form>

{% endblock conteudo %}
